/packages
/artifacts
/build
/JavaApp/.gradle
/JavaApp/build
/JavaApp/local_out
/Natives/external/MobileGlues/.gradle
/Natives/AngelAuraAmethyst
/Natives/build
.DS_Store
xcshareddata/
xcuserdata/
project.xcworkspace/
/depends
/Natives/config.h
entitlements.codesign.xml
/Compare
/.rule/
/sample/